<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">

	<head>
		<meta charset="UTF-8">
		<title>Édition</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/main.min.css">
		<style>
			.front {
				clip-path: inset(0 50% 0 0 round 999px);
				-webkit-clip-path: inset(0 50% 0 0 round 999px);
			}
		</style>
	</head>

	<body>
		<div class="container mb-5">
			<h1 class="my-4 text-center">Édition</h1>

			<a href="/admin" class="btn btn-secondary mb-4">Retour</a>

			<hr class="my-4">
			<h2>Widget barre de don</h2>
			<form id="donationBarForm" method="POST">
				<div class="mb-3">
					<label for="text_color_main" class="form-label">Couleur du texte primaire</label>
					<input type="color" class="form-control form-control-color" id="text_color_main" name="text_color_main" value="{{ donationGoalWidget.text_color_main }}">
				</div>
				<div class="mb-3">
					<label for="text_color_alt" class="form-label">Couleur du texte secondaire</label>
					<input type="color" class="form-control form-control-color" id="text_color_alt" name="text_color_alt" value="{{ donationGoalWidget.text_color_alt }}">
				</div>
				<div class="mb-3">
					<label for="text_content" class="form-label">Texte</label>
					<input type="text" class="form-control" id="text_content" name="text_content" value="{{ donationGoalWidget.text_content }}">
				</div>
				<div class="mb-3">
					<label for="bar_color" class="form-label">Couleur de la barre</label>
					<input type="color" class="form-control form-control-color" id="bar_color" name="bar_color" value="{{ donationGoalWidget.bar_color }}">
				</div>
				<div class="mb-3">
					<label for="background_color" class="form-label">Couleur du fond</label>
					<input type="color" class="form-control form-control-color" id="background_color" name="background_color" value="{{ donationGoalWidget.background_color }}">
				</div>
				<div class="mb-3">
					<label for="goal" class="form-label">Objectif</label>
					<input type="number" class="form-control" id="goal" name="goal" value="{{ donationGoalWidget.goal }}">
				</div>
				<br/>
				<div class="progress">
					<div class="back" style="background:{{ donationGoalWidget.background_color }};color:{{ donationGoalWidget.text_color_main }}">
						<p id="back-goal-current">{{ donationGoalWidget.goal / 2 }}
							€</p>
						<p id="back-title">{{ donationGoalWidget.text_content }}</p>
						<p id="back-goal-total">{{ donationGoalWidget.goal }}
							€</p>
					</div>
					<div class="front" style="background:{{ donationGoalWidget.bar_color }};color:{{ donationGoalWidget.text_color_alt }}">
						<p id="front-goal-current">{{ donationGoalWidget.goal / 2 }}
							€</p>
						<p id="front-title">{{ donationGoalWidget.text_content }}</p>
						<p id="front-goal-total">{{ donationGoalWidget.goal }}
							€</p>
					</div>
				</div>
				<br/>
				<div class="align-items-center mt-3">
					<h5>
						URL du widget :
						<a href="{{ widgetDonationGoalUrl }}" target="_blank">{{ widgetDonationGoalUrl }}</a>
					</h5>
					<br/>
					<button type="submit" class="btn btn-primary" name="save_donation_goal">💾</button>
				</div>
			</form>
		</div>

		<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		<script src="/js/event.min.js"></script>
		<script src="/js/admin.min.js"></script>
	</body>

</html>
