

{% block title %}Donation Goal Widget{% endblock %}


{% extends "widget.html.twig" %}
{% block content %}
	<div class="progress">
		<div class="back" style="background:{{ donationGoalWidget.background_color }};color:{{ donationGoalWidget.text_color_main }}">
			<p id="back-goal-current">{{ currentAmount / 100 }}
				€</p>
			<p id="back-title">{{ donationGoalWidget.text_content }}</p>
			<p id="back-goal-total">{{ donationGoalWidget.goal }}
				€</p>
		</div>
		<div class="front" style="background:{{ donationGoalWidget.bar_color }};color:{{ donationGoalWidget.text_color_alt }}">
			<p id="front-goal-current">{{ currentAmount / 100 }}
				€</p>
			<p id="front-title">{{ donationGoalWidget.text_content }}</p>
			<p id="front-goal-total">{{ donationGoalWidget.goal }}
				€</p>
		</div>
	</div>
{% endblock %}
{% block scripts %}
	<script>
		var goalAmount = {{ donationGoalWidget.goal ?? 0 }};
		var charityStreamId = '{{ donationGoalWidget.charity_stream_guid }}';
		var charityEventId = '{{ donationGoalWidget.charity_event_guid }}';
		var currentAmount = {{ currentAmount ?? 0 }};
	</script>

	{% if stream %}
		{% if viteEntries.stream.js %}
		<script type="module" src="/dist/js/{{ viteEntries.stream.js }}"></script>
		{% endif %}
	{% else %}
	{% if viteEntries.event.js %}
		<script type="module" src="/dist/js/{{ viteEntries.event.js }}"></script>
		{% endif %}
	{% endif %}


	
	
{% endblock %}
